<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <style>
        body{ 
            display: flex;
            width: 100vw;
            height: 100vh;
            align-items: center;
            justify-content: center;
            margin: 0;
            background: #131313;
            color: #fff;
            font-size: 96px;
            font-family: 'Fira Mono', monospace;
            letter-spacing: -7px;
          }
    </style>
</head>
<body>
    <dotlottie-player src='../anims/404.json' background='transparent' speed='1' style='width: 300px; height: 300px;' loop autoplay></dotlottie-player></dotlottie-player>
</body>
</html>